@import "variables";

html {
  color-scheme: light dark;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  cursor: pointer;
}

@mixin apply-theme($bg, $text) {
  background-color: $bg;
  color: $text;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  @include apply-theme($light-theme-bg, $light-theme-text);

  // Dark theme styles
  @media (prefers-color-scheme: dark) {
    @include apply-theme($dark-theme-bg, $dark-theme-text);
  }
}

header {
  position: fixed;
  top: 0;
  height: 5em;
  background-color: rgb(130, 130, 130);
}

.nav-toggler {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;

  .hamburger-icon {
    width: 35px;
    height: 3px;
    background-color: #333;
    position: relative;
    transition: all 0.3s ease-in-out;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #333;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }
}
.nav-toggler .hamburger-icon.active {
  background-color: transparent;

  &::before {
    transform: translateY(10px) rotate(45deg);
  }
  &::after {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.nav-content {
  position: fixed;
  top: 5em;
  left: 0;
  padding: 1.5em;
  min-height: 100vh;
  width: 50%;
  background-color: $color-light;
}

.credits-icon {
  color: #d5ce0c;
}

#searchbarContainer {
  #searchbarButton {
    border: none;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: $color-light;

    &:hover {
      background-color: rgb(230, 230, 230);
      transition: background-color 0.1s ease-in-out;
    }
  }
  & i {
    color: $color-dark;
  }
}

@media only screen and (max-width: 767px) {
  #searchbarInputContainer {
    position: fixed;
    top: 5em;
    width: 100%;
  }
  .searchbar-input {
    border: none;
    height: 3em;
  }
}

.nav-item_header {
  font-size: 1.25rem;
}

#avatarContainer {
  & img {
    height: 3em;
    border-radius: 50%;
  }
  & span {
    font-size: 1.25rem;
  }
}

main {
  margin-top: 5em;
}

.main_auth {
}

aside {
}

footer {
  text-align: center;
}

// Transitions & effects
#loginContainer,
#registerContainer,
.nav-content {
  transition:
    transform 0.5s ease-in-out,
    opacity 0.5s ease-in-out;
}

#registerContainer {
  transform: translateX(100);
}

.slide-to-center {
  transform: translateX(0);
  opacity: 1;
}

.slide-out-to-left {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-out-to-right {
  transform: translateX(100%);
  opacity: 0;
}

// Loading animation
#loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;

  #loadingText {
    font-size: 1.5em;
    margin-right: 20px;
  }
  #loadingAnimation {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0% {
    border-top-color: #3498db;
    transform: rotate(0deg);
  }
  15%,
  30% {
    border-top-color: #e74c3c;
  }
  45%,
  60% {
    border-top-color: #2ecc71;
  }
  75%,
  90% {
    border-top-color: #95cc2e;
  }
  100% {
    border-top-color: #3498db;
    transform: rotate(360deg);
  }
}

/* --- Auth page -- */
.logoContainer_auth-page {
  & img {
    height: 5em;
  }
}

#statusContainer {
  & #statusIconCheck,
  #statusIconXmark {
    font-size: 2.5rem;
    padding: 1.5em;
  }
  & #statusIconCheck {
    color: green;
  }
  & #statusIconXmark {
    color: red;
  }
}

/* --- form validation --- */
#submitButtonLogin,
#submitButtonRegister {
  position: relative;
  overflow: hidden;
  background-color: rgb(200, 200, 200);
  z-index: 1;
  & span {
    position: relative;
    z-index: 2;
  }
  &:hover {
    background-color: rgb(180, 180, 180);
  }
}

#submitButtonLogin::before,
#submitButtonRegister::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--progress-width, 0);
  height: 100%;
  background-color: rgb(0, 150, 0);
  transition: width 0.5s ease;
  z-index: 0;
}

.error-message {
  color: red;
}

.iconForm-error {
  color: red;
}
.iconForm-sucsess {
  color: green;
}

/* --- Profile page --- */

#profileContainer {
  & img {
    height: 15em;
    border-radius: 50%;

    &:hover {
      transition: filter 0.2s ease-in-out;
      filter: brightness(85%);
    }

    &:active {
      border: 5px solid white;
      filter: brightness(70%);
    }
  }
  & span {
    font-size: 1.5rem;
  }
  & .avatar-options-container {
    position: fixed;
    top: 24em;
  }

  @media screen and (min-width: 768px) {
    & img {
      height: 20em;
    }
    & .avatar-options-container {
      position: fixed;
      top: 29em;
    }
  }
}
