// Default colors
$color-black: rgb(5, 5, 5);
$color-white: rgb(250, 250, 250);

$color-blackish: rgb(15, 15, 15);
$color-whiteish: rgb(245, 245, 245);
$color-pastel-pink: rgb(230, 169, 159);
$color-desert-sand: rgb(229, 202, 175);
$color-green-sheen: rgb(118, 173, 168);
$color-pastel-gray: rgb(207, 215, 192);
$color-olivine: rgb(161, 185, 132);
$color-camouflage-green: rgb(120, 149, 97);
